<form class="form-signin" enctype="multipart/form-data" method="POST" action="/manageiostream/multifileupload">

        <h2 class="form-signin-heading">Multiple file upload</h2>

        <input type="file" name="imagef" id="image1" class="form-control" />
        <input type="file" name="imagef" id="image2" class="form-control" />
        <input type="file" name="imagef" id="image3" class="form-control" />

        <!-- <input type="text" name="ab[]" class="form-control" placeholder="Name 1">
        <input type="text" name="ab[]" class="form-control" placeholder="Name 2">
        <input type="text" name="ab[]" class="form-control" placeholder="Name 3"> -->
        
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>