<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Chat</div>
        <div class="panel-body">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default chatform">
              <form class="form-horizontal userschatform" role="form" method="post">
                <ul id="messages">
                </ul>

                <input type="text" class="chattext" name="chattext" />
                <input type="submit" class="chatformbutton" value="Send Message" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="broadcastbtn">
  <!-- <input type="button" value="Send Broadcast" /> -->
  <span>send broadcast</span>
  </div>